body{
    height: 2000px;
}
.fixed{
    padding: 10px;
    background-color: blueviolet;
    color: white;
    border-radius: 50%;
    width: 30px;
    position: fixed;
    right: 0;
    bottom: 0;
}
.sticky{
    background-color: khaki;
    padding: 10px;
    position: sticky;
    top: 0;
    
}
.sticky-div{
    height: 300px;
    background-color: rgb(245, 243, 228);
    padding: 10px;
    overflow: auto;
    position: static;
    top: 50px;
}
.relative{
    width: 200px;
    height: 200px;
    background-color: rgb(255, 0, 0);
    position: relative;
}
.r1{
    background-color: rgb(0, 255, 0);
    /* top: 10px; */
    bottom: 30px;;
}
.r2{
    background-color: rgb(0, 0, 255);
    left: 200px;
}
.absolute{
    width: 200px;
    height: 200px;
    background-color: rgb(255, 0, 0);
    position: absolute;
}
.a1{
    background-color: rgb(232, 174, 179);
    right: 4px;
}
.a2{
    background-color: rgb(147, 147, 239);
    right: 300px;
}