body{
    margin: 0;
    padding: 0;
}
*{
    box-sizing: border-box;
}
.menu ,.submenu{
    margin: 0;
    padding: 0;
    font-size: 0;
}
.menu >li{
    list-style: none;
    display: inline-block;
    font-size: 20px;
    position: relative;
}
.menu >li:hover .submenu{
    display: block;
}
.menu li{
    list-style: none;
    display: inline-block;
    font-size: 20px;
    position: relative;
}
.menu li:hover .submenu{
    display: block;
}
.menu li a{
    text-decoration: none;
    color: #000;
    padding: 10px 20px;
    display: inline-block;
    background-color: aqua;
}
.menu li a:hover{
    background-color: #ccc;
}
.submenu{
    margin-top: 5px;
    margin-right: 10px;
    position: absolute;
    display: none;
    top: calc(100% + 5px);
    left: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    z-index: 1000;
}
.submenu li{
    display: block;
    font-size: 16px;
    white-space: nowrap;
    margin-top: 2px;
    list-style: none;

}