body{
    margin: 0;
    padding: 0;
    background-color: #b5bfa2;}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    padding: 20px;
    width: 100%;
    text-align: center;
}
section{
    width: 33.33%;
    text-align: center;
}
.first div :nth-of-type(1){
    padding: 20px;
    width: 33.33%;
    height: 200px;
    background-color: #96c53f;
    float: left;
}
.first div :nth-of-type(2){
    padding: 20px;
    width: 33.33%;
    height: 200px;
    background-color: #e1314b;
    float: left;
}
.first div :nth-of-type(3){
    padding: 20px;
    width: 33.33%;
    height: 200px;
    background-color: #ca7a09;
    float: left;
}
