body{
    margin: 0;
    padding: 0;
}
*{
    box-sizing: border-box;
}
ul{
    padding: 0;
    margin: 0;
    background-color: blanchedalmond;
}
ul li{
    list-style-type: none;
    display: inline-block;
}
ul li a{
    display: inline-block;
    text-decoration: none;
    padding: 15px 20px;
    color: rgb(4, 4, 5);
    background-color: antiquewhite;
}
ul li a:hover{
    background-color: rgb(120, 106, 173);
}
ul li:nth-last-of-type(1){
    

}
aside{
    background-color: darkgreen;
    height: 400px;
    width: 250px;
    float: left;
}
aside h1{
    white-space: nowrap;
    overflow: auto;
}
.content{
    background-color: rgb(205, 223, 173);
    width: calc(100% - 250px);
    padding: 20px;
    float: left;
}
.child-1, .child-2{
    float: left;
    width: 50%;
    padding: 10px;
    overflow: auto;
}
.child-1 {
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: auto;
}

.child-3 {
    width: 50%;
    padding: 10px;
}
main::after{
    content: "";
    clear: both;
    display: table
}
.box{
    width: calc(100% / 3);
    height: 100px;
    float: left;
    border: 2px solid black;
    
}
@media screen and (max-width: 600px) {
    .child-1, .child-2{
        width: 100%;
    }
    .box{
        width: 100%;
    }
    
}
@media screen and (max-width: 350px) {
    .box{
        width: 100%;
    }
    
}
