body{
    margin: 0;
    padding: 0;
}
*{
    box-sizing: border-box;
}

header{
    width: 100%;
    height: 50px;
    border: 2px solid black;
}   
.div1{
    width: 33.33%;
    height: 130px;
    float: left;
    border: 2px solid black;
}
.div2{
    width: 33.33%;
    height: 130px;
    float: left;
    border: 2px solid black;
}
.div3{
    width: 33.33%;
    height: 130px;
    float: left;
    border: 2px solid black;
}


.footer1 {
    width: 100%;
    height: 50px;
    float: left;
    border: 2px solid black;
  
}
.foot1{
    width: 50%;
    height: 100px;
    float: left;
    border: 2px solid black;
}
.foot2{
    width: 50%;
    height: 100px;
    float: left;
    border: 2px solid black;
}
.footer{
    width: 100%;
    height: 50px;
    float: left;
    border: 2px solid black;
}
