body{
    margin: 0;
    padding: 0;
}
*{
    box-sizing: border-box;
}

header{
    width: 100%;
    height: 100px;
    border: 2px solid black;
} 
.div1{
    width: 25%;
    height: 100px;
    float: left;
    border: 2px solid black;
}
.div2{
    width: 75%;
    height: 100px;
    float: left;
    border: 2px solid black;
}

footer{
    width: 100%;
    height: 100px;
    float: left;
    border: 2px solid black;
}
.foot{
    width: 20%;
    height: 100px;
    float: left;
    border: 2px solid black;
}
