h1{
    background-color: aqua;
    text-align: center;
    text-decoration: underline red;
    text-transform: uppercase;
}
section{
    text-align: center;
}
h3{
    font-size: 60px;
    text-decoration: underline  rgb(9, 240, 67);
    text-transform: uppercase;
    text-align: end;
    transition: 4s ease-in-out;
}
h5{
    background-color: salmon !important;
    transition: 5s ease-out;
}
.para{
    text-align: center;
    text-decoration: underline  rgb(9, 240, 67);
    text-transform: uppercase;
}
/* universal selector
 *{
    text-transform: uppercase;
} */
    
#paraToggle{
    text-align: right;
    font-size: 100px;
    font-weight:600;
    width: 400px ;
    height: 100px;
    background-color: coral;
    background-position: 20%;
}
iframe{
    width: 300px;
    height: 300px;
    border: 6px thin;
}

/* descendent selector
div p, div h2{
    background-color: cornflowerblue;
} */